<!doctype html>{% load assets static %}
<html lang="en">
<head>
  {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% endblock meta %}

  <title>{% block title %}Bem vindo{% endblock title %}</title>

  {% block css %}
    <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-vue/dist/bootstrap-vue.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "simple-line-icons/css/simple-line-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/style.min.css" %}">
  {% endblock css %}

  {% assets "css_all" %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}

  {% block local_styles %}{% endblock local_styles %}
</head>
<body class="{% block body_class %}app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden{% endblock body_class %}">
  {% block body %}
    <header class="app-header navbar">
      <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
      <button type="button" class="navbar-toggler sidebar-toggler d-md-down-none">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Usuários</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Configurações</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#"><i class="icon-list"></i></a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{ user.gravatar_url }}" class="img-avatar" alt="{{ user.email }}">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Conta</strong>
            </div>
            <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
            <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
            <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>
            <div class="dropdown-header text-center">
              <strong>Configurações</strong>
            </div>
            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
            <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a>
            <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
            <a class="dropdown-item" href="{% url "account_logout" %}" onclick="return confirm('Deseja fazer logout?')"><i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
    </header>

    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url "dashboard" %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>

      <!-- Main content -->
      <main class="main">

        <div class="container-fluid">
          {% block content %}{% endblock content %}
        </div>
        <!-- /.conainer-fluid -->
      </main>

    </div>

    <footer class="app-footer">
      <span><a href="">Igor Oak</a> © 2017 IFPA.</span>
      <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
    </footer>
  {% endblock body %}

  {% block scripts %}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <script src="{% static "vue/dist/vue.min.js" %}"></script>
    <script src="{% static "babel-polyfill/dist/polyfill.min.js" %}"></script>
    <script src="{% static "bootstrap-vue/dist/bootstrap-vue.min.js" %}"></script>
    <script src="{% static "vee-validate/dist/vee-validate.min.js" %}"></script>
    <script src="{% static "vue-the-mask/dist/vue-the-mask.js" %}"></script>
    <script src="{% static "axios/dist/axios.min.js" %}"></script>

    {% assets "js_all" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% endblock scripts %}

  {% block local_scripts %}{% endblock local_scripts %}
</body>
</html>