{% extends "base.html" %}

{% block content %}
  <div class="row" id="row" v-cloak>
    <div class="col-lg-8">
      <table class="table table-bordered table-striped table-sm">
        <legend>
          [[ mes.mês ]] ([[ mes.carga_horária_str ]])
        </legend>

        <thead>
          <tr>
            <th>Dia</th>
            <th>Dia</th>
            <th>Entrada Manhã</th>
            <th>Saída Manhã</th>
            <th>Entrada Tarde</th>
            <th>Saída Tarde</th>
            <th>Horas Trabalhadas</th>
            <th>Observação</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="dia in mes.dias" :key="dia.id">
            <td>[[ dia.dia_semana ]]</td>
            <td>[[ dia.dia ]]</td>
            <td><input type="datetime" v-model="dia.entrada_manhã" @blur="atualizarDia(dia, {'entrada_manhã': dia.entrada_manhã})"></td>
            <td><input type="datetime" v-model="dia.saída_manhã" @blur="atualizarDia(dia, {'saída_manhã': dia.saída_manhã})"></td>
            <td><input type="datetime" v-model="dia.entrada_tarde" @blur="atualizarDia(dia, {'entrada_tarde': dia.entrada_tarde})"></td>
            <td><input type="datetime" v-model="dia.saída_tarde" @blur="atualizarDia(dia, {'saída_tarde': dia.saída_tarde})"></td>
            <td><strong>[[ dia.horas_trabalhadas_str ]]</strong></td>
            <td>
              <select name="" id="">
                <option value="">---</option>
                <option value="feriado">FERIADO</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
{% endblock content %}

{% block local_scripts %}
  <script>
    const v = new Vue({
      el: '#row',
      delimiters: ['[[', ']]'],
      data() {
        return {
          carga_horária: {},
          meses: {},
          mes: {},
        }
      },
      methods: {
        carregarCargaHorária() {
          const self = this;
          axios.get('/api/v1/carga-hor%C3%A1ria/?ano=2018').then(response => {
            self.carga_horária = response.data[0];
            axios.get(`/api/v1/meses/?carga_horária=${self.carga_horária.id}`).then(response => {
              self.meses = response.data;
              axios.get(`/api/v1/meses/${self.meses[0].id}/`).then(response => {
                self.mes = response.data;
              }).catch(error => {
                console.log(error);
              })
            }).catch(error => {
              console.log(error);
            });
          }).catch(error => {
            console.log(error);
          });
        },
        atualizarDia(dia, params) {
          axios.patch(`/api/v1/dias/${dia.id}/`, params).then(response => {
            const index = _.findIndex(this.mes.dias, (d) => d.id === dia.id);
            this.mes.dias.splice(index, 1, response.data);
          });
        }
      },
      mounted() {
        this.carregarCargaHorária();
      }
    });
  </script>
{% endblock local_scripts %}
