{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}
{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body %}
  <div class="login-box">
    {%include "account/includes/header_logo.html" %}
    <div class="login-box-body">
      <p class="login-box-msg">Resetar Senha</p>

      <div class="alert alert-info">
        Um email foi enviado contendo informações para completar o processo de <i>reset</i> de sua senha.
      </div>
      <hr/>
      <a href="{% url 'account_login' %}">Login</a>
    </div>
  </div>
{% endblock body %}
