{% load url from compat %}

<div id="hijacked-warning-wrapper">
  <div id="hijacked-warning" class="hijacked-warning hijacked-warning-default">
    <span style="padding-top: 4px; float: left;">
      <strong>{% with user=request.user%}Você está logado atualmente como o usuário {{ user }}.{% endwith %}</strong>
    </span>
    <div class="hijacked-warning-controls hijacked-warning-controls-pull-right">
      <form action="{% url 'hijack:release_hijack' %}" method="POST">
        {% csrf_token %}
        <button class="django-hijack-button-default">{% with user=request.user %}Liberar usuário {{ user }}{% endwith %}</button>
      </form>
      <form action="{% url 'hijack:disable_hijack_warning' %}?next={{ request.path }}" method="POST">
        {% csrf_token %}
        <button type="submit" class="django-hijack-button-default">Esconder</button>
      </form>
    </div>
  </div>
</div>
